@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}
body, html {
  overflow-x: hidden;
}

#nprogress .bar {
  background: #facc15 !important;
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #facc15, 0 0 5px #facc15;
}

.z-50 {
  z-index: 50;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
