.mySwiper {
    height: 450px; 
  }

  .mySwiper {
  cursor: grab;
}


  
  @media (max-width: 768px) { 
    .mySwiper {
      height: auto; 
    }
  
    .mySwiper .swiper-slide div {
      height: 250px; 
    }
  }