/* write your css here */
.z-50 {
    z-index: 50;
  }
  html {
  scroll-behavior: smooth;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
